* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #333;
}

.contsinrt {
  
   margin:  auto;
   margin-top: 50px;
   background-color: #222;
   padding: 20px;
   border-radius: 10px;
   display: grid;
   grid-template-columns: 5fr 4fr;
}
.img {
   display: flex;
   flex-direction: column;
   gap: 50px;
   justify-content: center;
   align-items: center;
}
.img img ,  canvas {
    max-width: 45vw;
    max-height: 60vh;
}

.filter ul {
   display: flex;
   flex-direction: column;
   gap: 30px;
   direction: rtl;
}
.filter ul li 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.filter ul li label {
    color: white;
}
.filter ul li:last-child {
    color: white;
    flex-direction: row;
    justify-content: space-around;
}
.filter ul li a,span {
    color: white;
    padding: 10px 20px;
    background-color: #060;
    cursor: pointer;
}
input[type="file"]
{
    display: none;
}
label[for="Upload"]{
    color: white;
    padding: 10px 20px;
    border: 2px white dashed;
    cursor: pointer;
}

@media screen and (max-width :650px) {
.contsinrt {
    grid-template-columns: 1fr;
    gap: 50px;
}
.img img , canvas {
   max-width: 80vw;
}
}